<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <!---->
    <div class="min-h-screen flex flex-row bg-gray-100">
      <div class="md:flex flex-col w-56 bg-white overflow-hidden max-md:hidden">
        <div class="flex items-center justify-center h-20 shadow-md">
          <h1 class="h1 text-4xl uppercase text-indigo-500">Files</h1>
        </div>
        <ul class="flex flex-col py-4">
          <li
            class="px-5 py-2 text-gray-600 border-gray-400 hover:bg-gray-100 hover:text-gray-700"
          >
            <a href="/files">
              <span
                class="items-center justify-center h-12 w-12 text-lg text-gray-400"
              >
                <i class="bx bx-home"></i>
              </span>
              <span class="text-sm font-medium">Homee</span>
            </a>
          </li>
          <li
            class="px-5 py-2 text-gray-600 border-gray-400 hover:bg-gray-100 hover:text-gray-700"
          >
            <a href="/files/new">Login</a>
          </li>
          <li
            class="px-5 py-2 text-gray-600 border-gray-400 hover:bg-gray-100 hover:text-gray-700"
          >
            <a href="/files/new">Profile</a>
          </li>
          <li
            class="px-5 py-2 text-gray-600 border-gray-400 hover:bg-gray-100 hover:text-gray-700"
          >
            <a href="/files/new">Logout</a>
          </li>
        </ul>
      </div>
      <button
        class="md:hidden flex flex-col bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded toggle"
      >
        Toggle
      </button>
    </div>

    <!--<h1 class='text-4xl bg-slate-600 text-center'> Files </h1>

    <ul>
        <% for(var i=0; i< files.length; i++) { %>
            <li> <%= files[i].title %> </li>
            <p> <%= files[i].description %> </p>
        <% } %>
    </ul> -->
  </body>
</html>
